:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Global Color Variables */
  --primary-color: #646cff;
  --primary-hover: #535bf2;
  --hyperlink: #ff751a;

  --text-primary: #ffffff;
  --text-secondary: #888;

  --background-primary: #242424;
  --background-secondary: #1a1a1a;


  color: var(--text-primary);
  background-color: var(--background-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
